OPENAI_MODEL=8292503758:AAEdAQzgsXG5KyCUPuA_yl9KEcQgdc-xI8I
SUPABASE_URL=https://cgawmbinfetrohplyhmb.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNnYXdtYmluZmV0cm9ocGx5aG1iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5OTU1MTksImV4cCI6MjA5NTU3MTUxOX0.fdvyba5lnVt5dmwzy7wAFa7gWtb2xkC20YGiFb3oI9Y
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
